DirectoryIndex index.html

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>

<IfModule mod_mime.c>
    AddType image/svg+xml .svg
</IfModule>

<FilesMatch "\.svg$">
    Header set Content-Type "image/svg+xml"
    Header set Content-Encoding gzip
</FilesMatch>
